# Exemplo de Regressão Logística - Fornecedores punidos no SICAF

Carregando dados de fornecedores.csv

In [103]:
import pandas as pd

fornecedores_file_path = 'fornecedores.csv'
fornecedores_data = pd.read_csv(fornecedores_file_path).iloc[:,1:] # Retira a primeira coluna (índice)
fornecedores_data.columns

Index(['fornecedor_punido', 'qtd_media', 'Socio Laranja',
       'Valor Total Homologado em 2017', 'Micro Empresa', 'Não Informado',
       'Pequena Empresa', 'qtd_subclasses_cnae', 'Qtd dias inferior a 30',
       'qtd_fornecedores', 'socio_com_ceis', 'VALIDO', 'prob_loja'],
      dtype='object')

In [104]:
fornecedores_data.head()

,fornecedor_punido,qtd_media,Socio Laranja,Valor Total Homologado em 2017,Micro Empresa,Não Informado,Pequena Empresa,qtd_subclasses_cnae,Qtd dias inferior a 30,qtd_fornecedores,socio_com_ceis,VALIDO,prob_loja
0,False,96.0,0.0,100000.0,0,0,0,5.0,0.0,1.0,0.0,2.0,0.999985
1,False,34.0,0.0,100000.0,0,0,0,5.0,0.0,1.0,0.0,7.0,0.999988
2,False,28.0,0.0,100000.0,0,0,0,5.0,0.0,1.0,0.0,1.0,0.998830
3,False,23.0,0.0,100000.0,0,0,0,5.0,0.0,1.0,0.0,1.0,0.773772
4,False,25.0,0.0,76100.0,0,1,0,5.0,0.0,1.0,0.0,3.0,0.999959

Nossa variável alvo será "fornecedor_punido". Todas as outras serão variáveis dependentes.

In [105]:
y = fornecedores_data['fornecedor_punido']

In [106]:
X = fornecedores_data.iloc[:,1:]

In [107]:
X.head()

,qtd_media,Socio Laranja,Valor Total Homologado em 2017,Micro Empresa,Não Informado,Pequena Empresa,qtd_subclasses_cnae,Qtd dias inferior a 30,qtd_fornecedores,socio_com_ceis,VALIDO,prob_loja
0,96.0,0.0,100000.0,0,0,0,5.0,0.0,1.0,0.0,2.0,0.999985
1,34.0,0.0,100000.0,0,0,0,5.0,0.0,1.0,0.0,7.0,0.999988
2,28.0,0.0,100000.0,0,0,0,5.0,0.0,1.0,0.0,1.0,0.998830
3,23.0,0.0,100000.0,0,0,0,5.0,0.0,1.0,0.0,1.0,0.773772
4,25.0,0.0,76100.0,0,1,0,5.0,0.0,1.0,0.0,3.0,0.999959

In [108]:
X.describe()

,qtd_media,Socio Laranja,Valor Total Homologado em 2017,Micro Empresa,Não Informado,Pequena Empresa,qtd_subclasses_cnae,Qtd dias inferior a 30,qtd_fornecedores,socio_com_ceis,VALIDO,prob_loja
count,30188.000000,30188.000000,3.018800e+04,30188.000000,30188.000000,30188.000000,30188.000000,30188.00000,30188.000000,30188.000000,30188.000000,30188.000000
mean,126.725603,3.665794,1.593014e+06,0.184312,0.033788,0.190175,8.283457,0.10365,1.072048,0.038724,27.233006,0.635508
std,615.113075,13.758193,1.684212e+07,0.387745,0.180687,0.392446,11.751422,2.83587,0.449316,0.378459,54.026703,0.431186
min,1.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000006
25%,7.000000,0.000000,4.331675e+04,0.000000,0.000000,0.000000,3.000000,0.00000,1.000000,0.000000,2.000000,0.082129
50%,17.000000,0.000000,1.000000e+05,0.000000,0.000000,0.000000,5.000000,0.00000,1.000000,0.000000,7.000000,0.956349
75%,48.500000,1.000000,2.117928e+05,0.000000,0.000000,0.000000,9.000000,0.00000,1.000000,0.000000,29.000000,0.999959
max,29254.500000,733.000000,1.573393e+09,1.000000,1.000000,1.000000,99.000000,272.00000,25.000000,24.000000,875.000000,1.000000

Separação entre conjuntos de treino e teste

In [109]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

**Definição** e **Ajuste (Fit)** do modelo

In [110]:
from sklearn.linear_model import LogisticRegression

# Definir o modelo (Regressão Linear)
fornecedores_model = LogisticRegression()

# Ajustar o modelo (treinamento)
fornecedores_model.fit(X_train, y_train)

LogisticRegression(C=1000000000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

Ver coeficientes do modelo

In [111]:
[(X_train.columns[i], fornecedores_model.coef_[0][i]) for i in range(len(X_train.columns))]

[('qtd_media', -9.84897263559559e-10),
 ('Socio Laranja', -2.7814392658775364e-10),
 ('Valor Total Homologado em 2017', 2.2849786930435088e-09),
 ('Micro Empresa', -1.179901827359547e-11),
 ('Não Informado', -9.00094665272414e-12),
 ('Pequena Empresa', -7.81746733544535e-12),
 ('qtd_subclasses_cnae', -4.4984536694039385e-10),
 ('Qtd dias inferior a 30', 1.6071197922149964e-11),
 ('qtd_fornecedores', -1.2034321140566227e-10),
 ('socio_com_ceis', 2.3657690480417927e-12),
 ('VALIDO', 1.5344257641042785e-09),
 ('prob_loja', -7.701872625897372e-11)]

Os coeficientes estão todos pequenos, muitos deles negativos. Estranho... era para serem indicadores de risco e em geral aumentarem o risco do fornecedor!

**Predição** para os primeiros cinco fornecedores

In [112]:
print("Prevendo se houve punição para os cinco primeiros fornecedores:")
print(X_test.head())
print("Os valores previstos são:")
print(fornecedores_model.predict(X_test.head()))

Prevendo se houve punição para os cinco primeiros fornecedores:
       qtd_media  Socio Laranja  Valor Total Homologado em 2017  \
17411       20.0            1.0                         55565.0
4513         5.0            6.0                        100000.0
12854        4.5            0.0                        137984.9
20464       11.0            0.0                           150.0
9289         2.5            0.0                       1164820.0

       Micro Empresa  Não Informado  Pequena Empresa  qtd_subclasses_cnae  \
17411              0              0                1                  3.0
4513               0              0                0                  5.0
12854              1              0                0                  1.0
20464              1              0                0                  8.0
9289               0              0                1                 48.0

       Qtd dias inferior a 30  qtd_fornecedores  socio_com_ceis  VALIDO  \
17411                     0.0               1.0             0.0     2.0
4513                      0.0               1.0             0.0     2.0
12854                     0.0               1.0             0.0    55.0
20464                     0.0               1.0             0.0    15.0
9289                      0.0               1.0             0.0    27.0

       prob_loja
17411   1.000000
4513    0.008613
12854   0.999988
20464   1.000000
9289    0.033030
Os valores previstos são:
[ True  True  True  True  True]

Os cinco são fornecedores punidos. Não era pra ser tão comum...

**Avaliação** do modelo no conjunto de teste

In [113]:
print("A acurácia desse modelo é de:")
print(fornecedores_model.score(X_test, y_test))

A acurácia desse modelo é de:
0.3010137508782495

Isso é muito ruim! Vamos verificar outras métricas...

In [102]:
from sklearn.metrics import classification_report, confusion_matrix

# Resultado no conjunto de testes
y_pred = fornecedores_model.predict(X_test)

print("A matriz de confusão é:\n", confusion_matrix(y_test, y_pred),"\n")
print("Métricas de precisão, abragência e f1:\n", classification_report(y_test, y_pred))

A matriz de confusão é:
 [[ 324 6709]
 [ 255 2675]]

Métricas de precisão, abragência e f1:
              precision    recall  f1-score   support

      False       0.56      0.05      0.09      7033
       True       0.29      0.91      0.43      2930

avg / total       0.48      0.30      0.19      9963

O desempenho do modelo está muito ruim... Você pode ajudar a corrigi-lo e melhorá-lo nos exercícios!